*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Bold.eot");
  src: url("../fonts/DancingScript-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff"), url("../fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clicker Script';
  src: url("../fonts/ClickerScript-Regular.eot");
  src: url("../fonts/ClickerScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClickerScript-Regular.woff2") format("woff2"), url("../fonts/ClickerScript-Regular.woff") format("woff"), url("../fonts/ClickerScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.eot");
  src: url("../fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff"), url("../fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBoldItalic.eot");
  src: url("../fonts/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ThinItalic.eot");
  src: url("../fonts/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ThinItalic.woff2") format("woff2"), url("../fonts/Raleway-ThinItalic.woff") format("woff"), url("../fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLightItalic.eot");
  src: url("../fonts/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BoldItalic.eot");
  src: url("../fonts/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-BlackItalic.eot");
  src: url("../fonts/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.eot");
  src: url("../fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraBoldItalic.eot");
  src: url("../fonts/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

html {
  font-size: 16px;
  font-family: Raleway, sans-serif;
}

ul,
body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*top menu*/
.top-menu {
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-bottom: 10px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 9999;
  height: 70px;
}

.top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.8125rem;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  padding: 0px 25px;
  margin: 20px 0px;
}

.top-menu li a:hover {
  color: #0d944f;
}

.menugrey {
  background-color: #f8f8f8;
  color: #373a38 !important;
}

.active {
  color: #0d944f !important;
}

.menugrey li a:hover {
  color: #0d944f !important;
}

/*top menu end*/
/*HERO start*/
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.hero {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero3.jpg);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero3.jpg);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero3.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero3.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  text-align: center;
  position: relative;
}

.hero-content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 8px solid white;
  padding: 20px 60px;
}

.hero-content h2 {
  color: #0d944f;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  font-weight: 900;
  line-height: 30px;
}

.hero-content h1 {
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
  font-size: 6vw;
  margin: 0;
  color: white;
}

.hero-content img {
  width: 65%;
}

.hero-content p {
  color: #0d944f;
  font-size: 1.875rem;
  width: 100%;
}

.container a {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  color: white;
}

.bounce {
  /* rodykles sokinejimas*/
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* HERO pabaiga */
.about-us {
  background: white;
  background-size: cover;
  background-position: center;
  padding: 0;
  text-align: center;
}

.about-us-container {
  width: 60%;
  margin: 0 auto;
}

.heading h2 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: 900;
  color: #454545;
  margin: 0;
}

.heading h2 span {
  font-family: 'Clicker Script', cursive;
  font-weight: 400;
  color: #0d9a50;
}

.heading {
  padding: 140px 0 5% 0;
  text-align: center;
}

.heading p {
  font-weight: 400;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  color: #646464;
  border-bottom: 1px solid #0d9a50;
  line-height: 0.1rem;
  display: inline-block;
}

.heading p span {
  background-color: #fff;
  padding: 0 10px;
  font-size: 0.875rem;
  color: #65645f;
}

.about-us-container .she-he {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.she-he .about-column {
  width: 45%;
}

.about-pic {
  position: relative;
  padding: 0px;
  margin: 0px;
  margin: auto;
  text-align: center;
}

.inner-round-border {
  border-radius: 80%;
  -moz-border-radius: 80%;
  -webkit-border-radius: 80%;
  -khtml-border-radius: 80%;
  overflow: hidden;
}

.about-pic img {
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.inner-round-border img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.pic-frame {
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: -4%;
  z-index: 999;
}

.socials a {
  text-decoration: none;
}

.socials img {
  border-radius: 50%;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.socials img:hover {
  background-color: white;
}

.about-column h3 {
  margin: 0;
  padding: 10% 0 4% 0;
  font-size: 1.125rem;
  font-weight: 900;
  color: #454545;
}

.about-column p {
  color: #65645f;
  margin: 0;
  padding-bottom: 5%;
}

/* about us section END */
/*Timer section START */
.timer-container {
  background-color: #edfcff;
  padding: 120px 0;
}

.timer-container h2 {
  text-transform: uppercase;
  text-align: center;
  color: #92b476;
  font-size: 1.75rem;
  padding: 0 0 40px 0;
  font-weight: 700;
}

/*Timer section END */
/*Info section START */
.info-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.info-column {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30.66%;
  margin: 80px 4% 80px 0;
}

.info-column:nth-child(3n) {
  margin: 80px 0 80px 0;
}

.info-column h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #454545;
  font-weight: 700;
}

.info-column p {
  color: #65645f;
  font-size: 0.875rem;
}

.info-column img {
  width: 50px;
  display: block;
  margin: auto;
}

/* #########Info section END */
/* ##########Galerijos section START */
.memories-container {
  width: 100vw;
  margin: 0 auto;
}

.gallery-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-pic-container {
  width: 25%;
  position: relative;
  background: black;
}

.gallery-pic-container:hover {
  background: none;
}

.gallery-pic-container img {
  width: 100%;
  display: block;
  opacity: 0.5;
}

.gallery-pic-container img:hover {
  opacity: 1;
}

.gallery-pic-container h3 {
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.125rem;
  color: #fff;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  font-weight: 300;
}

.gallery-pic-container h3 span {
  font-weight: 800;
  color: #0d9a50;
}

/* ##########Galerijos section END */
.carousel-section {
  width: 100vw;
  background-color: #f6f6f4;
}

.section-centered {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.section-centered .heading p span {
  background-color: #f6f6f4;
}

.carousel-column h3 {
  font-size: 0.9375rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #454545;
  margin: 13px 0 6px 0;
  text-transform: uppercase;
}

.carousel-column p {
  color: #0d9a50;
  font-size: 0.8125rem;
  font-weight: 300;
  margin: 7px 0 13px 0;
}
